.search {
  width: 100%;
  position: relative;
  .header {
    width: 100%;
    height: 80px;
    display: flex;
    line-height: 30px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(56, 54, 54);
    .nav {
      margin-top: 1vw;
      margin-left: 2vw;
      width: 4.5vw;
      display: flex;
      justify-content: space-between;
    }
    .search__input {
      width: 30vw;
      height: 100%;
      margin-top: 1vw;
      margin-left: 2vw;
    }
  }
  .h1 {
    text-align: left;
    margin-left: 2vw;
    font-size: 1.5vw;
  }
}
