input:focus {
  outline: none;
}
body {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
/* 整体样式 */
::-webkit-scrollbar {
  width: 10px;
}

/* 滑轨样式 */
::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

/* 滑块样式 */
::-webkit-scrollbar-thumb {
  background-color: #888888;
  border-radius: 10px;
}

/* 鼠标滑过滑块样式 */
::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}

a:hover {
  text-decoration: underline;
}
